[core]
    editor = /usr/bin/nvim

[alias]
    st = statusco = checkout
    d = difftool
    cm = commit -m  
    lg = lgn -n 15
    lgn = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an> %ae%Creset' --abbrev-commit

[init]
	defaultBranch = mainq

[include]
    path=~/.gitsigning

[diff]
    tool = nvim

[difftool "nvim"]
    cmd = "/usr/bin/nvim -d \"$LOCAL\" \"$REMOTE\""

[merge]
    tool = nvim

[mergetool]
    prompt = false

[mergetool "nvim"]
    cmd = nvim -f -c \"Gdiffsplit!\" \"$MERGED\"
