[Unit]
Description=Hyprland session (triggers graphical-session.target)
BindsTo=graphical-session.target
Wants=graphical-session-pre.target
After=graphical-session-pre.target
